In [2]:
import google.cloud.bigquery
import pandas as pd

### Connecting and Querying public dataset using  Google Cloud Python Library

In [36]:
# BigQuery client
bq_client = google.cloud.bigquery.Client.from_service_account_json(
        '/Users/katielazell-fairman/documents/private/NYCtaxi-67d24e6111e5.json')

# Query a public dataset
query = bq_client.query("""
SELECT * FROM `nyc-tlc.yellow.trips` LIMIT 5;
""")

# Display Results

for row in query:
    print (row)
    print '/n'

Row((u'VTS', datetime.datetime(2010, 2, 8, 9, 17, tzinfo=<UTC>), datetime.datetime(2010, 2, 8, 9, 20, tzinfo=<UTC>), 0.0, 0.0, 0.0, 0.0, u'1', 1, 0.0, u'CRD', 0.0, 0.0, 0.0, None, 0.0, 0.0, 0.0, None), {u'vendor_id': 0, u'pickup_datetime': 1, u'dropoff_datetime': 2, u'pickup_longitude': 3, u'pickup_latitude': 4, u'dropoff_longitude': 5, u'dropoff_latitude': 6, u'rate_code': 7, u'passenger_count': 8, u'trip_distance': 9, u'payment_type': 10, u'fare_amount': 11, u'extra': 12, u'mta_tax': 13, u'imp_surcharge': 14, u'tip_amount': 15, u'tolls_amount': 16, u'total_amount': 17, u'store_and_fwd_flag': 18})
/n
Row((u'CMT', datetime.datetime(2010, 3, 28, 11, 40, 29, tzinfo=<UTC>), datetime.datetime(2010, 3, 28, 11, 40, 39, tzinfo=<UTC>), 0.0, 0.0, 0.0, 0.0, u'1', 1, 0.0, u'Cas', 0.0, 0.0, 0.0, None, 0.0, 0.0, 0.0, u'0'), {u'vendor_id': 0, u'pickup_datetime': 1, u'dropoff_datetime': 2, u'pickup_longitude': 3, u'pickup_latitude': 4, u'dropoff_longitude': 5, u'dropoff_latitude': 6, u'rate_code': 7, u'passenger_count': 8, u'trip_distance': 9, u'payment_type': 10, u'fare_amount': 11, u'extra': 12, u'mta_tax': 13, u'imp_surcharge': 14, u'tip_amount': 15, u'tolls_amount': 16, u'total_amount': 17, u'store_and_fwd_flag': 18})
/n
Row((u'CMT', datetime.datetime(2010, 3, 16, 1, 4, 50, tzinfo=<UTC>), datetime.datetime(2010, 3, 16, 1, 6, 39, tzinfo=<UTC>), -74.008316, 40.736286, -74.008352, 40.73625, u'1', 1, 0.0, u'Cas', 0.0, 0.0, 0.0, None, 0.0, 0.0, 0.0, u'0'), {u'vendor_id': 0, u'pickup_datetime': 1, u'dropoff_datetime': 2, u'pickup_longitude': 3, u'pickup_latitude': 4, u'dropoff_longitude': 5, u'dropoff_latitude': 6, u'rate_code': 7, u'passenger_count': 8, u'trip_distance': 9, u'payment_type': 10, u'fare_amount': 11, u'extra': 12, u'mta_tax': 13, u'imp_surcharge': 14, u'tip_amount': 15, u'tolls_amount': 16, u'total_amount': 17, u'store_and_fwd_flag': 18})
/n
Row((u'CMT', datetime.datetime(2010, 2, 16, 13, 17, 44, tzinfo=<UTC>), datetime.datetime(2010, 2, 16, 13, 17, 47, tzinfo=<UTC>), -73.995773, 40.761368, -73.995773, 40.761368, u'1', 1, 0.0, u'NA ', 0.0, 0.0, 0.0, None, 0.0, 0.0, 0.0, u'0'), {u'vendor_id': 0, u'pickup_datetime': 1, u'dropoff_datetime': 2, u'pickup_longitude': 3, u'pickup_latitude': 4, u'dropoff_longitude': 5, u'dropoff_latitude': 6, u'rate_code': 7, u'passenger_count': 8, u'trip_distance': 9, u'payment_type': 10, u'fare_amount': 11, u'extra': 12, u'mta_tax': 13, u'imp_surcharge': 14, u'tip_amount': 15, u'tolls_amount': 16, u'total_amount': 17, u'store_and_fwd_flag': 18})
/n
Row((u'CMT', datetime.datetime(2010, 2, 23, 13, 0, 19, tzinfo=<UTC>), datetime.datetime(2010, 2, 23, 13, 31, 23, tzinfo=<UTC>), -73.97444, 40.75414, -73.782493, 40.648832, u'1', 1, 17.6, u'CAS', 0.0, 0.0, 0.0, None, 0.0, 0.0, 0.0, u'0'), {u'vendor_id': 0, u'pickup_datetime': 1, u'dropoff_datetime': 2, u'pickup_longitude': 3, u'pickup_latitude': 4, u'dropoff_longitude': 5, u'dropoff_latitude': 6, u'rate_code': 7, u'passenger_count': 8, u'trip_distance': 9, u'payment_type': 10, u'fare_amount': 11, u'extra': 12, u'mta_tax': 13, u'imp_surcharge': 14, u'tip_amount': 15, u'tolls_amount': 16, u'total_amount': 17, u'store_and_fwd_flag': 18})
/n

### Connecting and Querying public dataset using pandas-gbq

note: pandas-gbq may need to be installed seperately.

In [46]:
key = '/Users/katielazell-fairman/documents/private/NYCtaxi-67d24e6111e5.json'
project_id = 'nyctaxi-1519086034182'

In [47]:
query  = """
    SELECT * FROM [nyc-tlc:yellow.trips] LIMIT 100;
"""

In [48]:
df_example_data = pd.read_gbq(query, project_id, private_key=key)

Requesting query... ok.
Job ID: 8e357b92-5dc4-41bb-836e-fb60e107de69
Query running...
Query done.
Processed: 129.7 GB Billed: 129.7 GB
Standard price: $0.63 USD

Retrieving results...
Got 100 rows.

Total time taken 3.07 s.
Finished at 2018-02-19 20:43:12.

In [50]:
df_example_data.head(5)

,vendor_id,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,rate_code,passenger_count,trip_distance,payment_type,fare_amount,extra,mta_tax,imp_surcharge,tip_amount,tolls_amount,total_amount,store_and_fwd_flag
0,CMT,2010-03-04 00:35:16,2010-03-04 00:35:47,-74.035201,40.721548,-74.035201,40.721548,1,1,0.0,Cas,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0
1,CMT,2010-03-15 17:18:34,2010-03-15 17:18:35,0.000000,0.000000,0.000000,0.000000,1,1,0.0,Cas,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0
2,VTS,2015-03-18 01:07:02,2015-03-18 01:07:07,0.000000,0.000000,0.000000,0.000000,1,5,0.0,CRD,0.0,0.0,0.0,0.3,0.0,0.0,0.0,N
3,VTS,2015-03-09 18:24:03,2015-03-09 18:25:37,-73.937248,40.758202,-73.937263,40.758190,1,1,0.0,CRD,0.0,0.0,0.0,0.3,0.0,0.0,0.0,N
4,CMT,2010-03-06 06:33:41,2010-03-06 06:36:06,-73.785514,40.645400,-73.784564,40.648681,1,2,4.1,Cas,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0

In [71]:
# Querry dataset to find all taxi rides originating from Carnigie Hall Area

query_carnigie_taxi_rides = """

SELECT pickup_datetime
       , pickup_longitude
       , pickup_latitude
       , dropoff_longitude
       , dropoff_latitude
       , trip_distance
       , total_amount
FROM [nyc-tlc:yellow.trips]
WHERE pickup_longitude BETWEEN -73.980 AND -73.979
  AND pickup_latitude BETWEEN 40.765 AND 40.766;

"""

In [72]:
df_carnigie_taxi = pd.read_gbq(query_carnigie_taxi_rides, project_id, private_key=key)

Requesting query... ok.
Job ID: 4e7e28d2-533c-47ec-b6bf-25c29fdfef51
Query running...
  Elapsed 7.52 s. Waiting...
  Elapsed 8.83 s. Waiting...
Query done.
Processed: 57.8 GB Billed: 57.8 GB
Standard price: $0.28 USD

Retrieving results...
Got 631178 rows.

Total time taken 88.1 s.
Finished at 2018-02-19 21:08:09.

In [74]:
df_carnigie_taxi.sort_values('pickup_datetime', inplace=True)

In [83]:
df_carnigie_taxi

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_distance,total_amount
76378,2009-01-01 00:05:47,-73.979308,40.765840,-73.979308,40.765840,0.60,3.40
301220,2009-01-01 00:14:58,-73.979268,40.765229,-73.971190,40.761453,1.10,9.40
26899,2009-01-01 00:36:13,-73.979289,40.765285,-74.006128,40.723203,4.40,15.80
366493,2009-01-01 00:42:24,-73.979898,40.765131,-73.984953,40.763684,0.70,5.80
155253,2009-01-01 00:50:36,-73.979718,40.765558,-73.951278,40.779485,2.90,11.00
354627,2009-01-01 00:53:18,-73.979905,40.765967,-73.976422,40.748029,2.00,8.60
463295,2009-01-01 00:53:23,-73.979420,40.765591,-73.982775,40.738713,3.10,12.60
568022,2009-01-01 00:58:42,-73.979740,40.765646,-73.912642,40.772923,5.50,15.80
554912,2009-01-01 00:59:34,-73.979291,40.765349,-73.968267,40.790707,2.10,9.40
164779,2009-01-01 01:07:56,-73.979064,40.765164,-73.980013,40.742438,3.60,13.80
311258,2009-01-01 01:15:00,-73.979489,40.765617,-73.932018,40.857719,7.90,21.40
513785,2009-01-01 01:58:14,-73.979080,40.765625,-73.962619,40.799747,2.90,11.00
48301,2009-01-01 02:21:11,-73.979991,40.765994,-73.948606,40.783194,2.70,9.00
49336,2009-01-01 02:27:14,-73.979903,40.765017,-73.964066,40.770614,1.30,6.20
347289,2009-01-01 02:53:22,-73.979547,40.765719,-73.975067,40.719813,3.90,12.20
126810,2009-01-01 02:56:42,-73.979046,40.765143,-73.979067,40.761077,0.50,4.20
400761,2009-01-01 03:00:31,-73.979922,40.765414,-74.010835,40.716759,4.70,15.40
403615,2009-01-01 03:07:06,-73.979687,40.765985,-73.985769,40.732714,4.00,13.40
353697,2009-01-01 03:42:33,-73.979312,40.765151,-73.947200,40.764631,3.80,14.40
307385,2009-01-01 03:45:11,-73.979926,40.765509,-73.992999,40.733452,3.00,11.40
72443,2009-01-01 03:53:38,-73.979451,40.765133,-73.991973,40.764587,0.90,5.80
506793,2009-01-01 03:55:00,-73.979386,40.765025,-73.988499,40.764260,0.60,4.60
252880,2009-01-01 04:02:48,-73.979219,40.765344,-74.001688,40.732886,3.30,13.80
481243,2009-01-01 04:03:07,-73.979931,40.765434,-73.988259,40.748472,1.70,6.60
448547,2009-01-01 04:04:18,-73.979934,40.765385,-73.785232,40.742064,12.40,34.00
252315,2009-01-01 04:05:47,-73.979866,40.765767,-73.990796,40.768290,0.60,5.00
272228,2009-01-01 04:10:54,-73.979660,40.765762,-73.920371,40.808015,5.90,15.40
298221,2009-01-01 04:12:45,-73.979555,40.765557,-73.988773,40.769228,0.50,4.60
474938,2009-01-01 04:13:16,-73.979750,40.765414,-73.965569,40.758843,0.90,5.40
240352,2009-01-01 04:34:50,-73.979208,40.765094,-73.939178,40.750397,3.30,10.60
...,...,...,...,...,...,...,...
59712,2015-06-30 22:02:11,-73.979851,40.765434,-73.967216,40.756271,1.10,8.80
305861,2015-06-30 22:03:53,-73.979752,40.765839,-73.984528,40.759552,1.20,10.56
137063,2015-06-30 22:04:04,-73.979843,40.765533,-73.955330,40.781273,2.29,14.16
565992,2015-06-30 22:06:34,-73.979156,40.765308,-73.826889,40.766560,11.52,39.00
314282,2015-06-30 22:08:17,-73.979362,40.765553,-73.986877,40.760609,0.76,9.36
623534,2015-06-30 22:11:42,-73.979462,40.765556,-73.994965,40.769684,0.97,7.80
264448,2015-06-30 22:15:45,-73.979019,40.765385,-73.964661,40.806877,3.62,19.56
249606,2015-06-30 22:18:17,-73.979446,40.765839,-73.993088,40.756500,1.19,8.80
150159,2015-06-30 22:25:01,-73.979927,40.765957,-73.977226,40.732586,3.22,16.30
543953,2015-06-30 22:26:41,-73.979736,40.765785,-73.976631,40.727062,3.30,21.80
443518,2015-06-30 22:27:35,-73.979828,40.765987,-73.993790,40.766388,1.03,9.75
182047,2015-06-30 22:39:23,-73.979958,40.765545,-74.008705,40.718960,3.60,23.75
211647,2015-06-30 22:43:26,-73.979927,40.765999,-74.008530,40.731060,3.24,17.30
309177,2015-06-30 22:45:05,-73.979126,40.765678,-73.985466,40.689522,8.03,34.56
4279,2015-06-30 22:46:31,-73.979797,40.765896,-73.983467,40.751225,1.20,12.80
294059,2015-06-30 22:51:08,-73.979652,40.765942,-73.961983,40.767868,1.30,8.75
414777,2015-06-30 22:53:35,-73.979828,40.765717,-73.943077,40.777290,3.00,12.30
289591,2015-06-30 22:53:40,-73.979889,40.765499,-73.969627,40.786419,1.74,14.04
24340,2015-06-30 22:55:29,-73.979774,40.765533,-74.004272,40.740292,2.40,11.30
104378,2015-06-30 22:55:56,-73.979897,40.765606,-74.009819,40.732010,3.20,13.30
594516,2015-06-30 22:59:59,-73.979973,40.765049,-73.987701,40.762341,0.61,9.12
392323,2015-06-30 23:00:33,-73.979843,40.765671,-73.976013,40.764076,0.20,4.30
184627,2015-06-30 23:03:48,-73.979454,40.765823,-73.983566,40.770725,0.60,6.30
610350,2015-06-30 23:11:04,-73.979897,40.765831,-73.966995,40.761036,0.83,6.80
524003,2015-06-30 23:11:36,-73.979851,40.765640,-73.982780,40.731510,3.20,18.35
301958,2015-06-30 23:21:19,-73.979675,40.765705,-74.005508,40.738846,2.67,12.80
484631,2015-06-30 23:22:33,-73.979431,40.765232,-73.968147,40.755440,1.16,7.80
580200,2015-06-30 23:37:07,-73.979706,40.765667,-73.995750,40.749886,1.84,10.30
231242,2015-06-30 23:51:32,-73.979874,40.765736,-74.006210,40.714321,4.34,22.56
511394,2015-06-30 23:58:38,-73.979973,40.765427,-73.962997,40.795151,2.70,14.30

In [ ]:
df_carnigie_taxi